
* {
    box-sizing: border-box;
}
body {
    background-color: white;
}
h1 {
    margin: 25px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 175%;
}
section {
    position: relative;
    padding: 15px;
    width: 100%;
}
p {
    position: relative;
    clear: right;
}
div {
    position: relative;
    background-color: rgb(133, 240, 248);
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
#t1 {
    float: right;
    width: 40%;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(241, 45, 225);
    
}
#t2 {
    float: right;
    color: white;
    width: 40%;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(255, 51, 0);
    
}
#t3 {
    color: black;
    float: right;
    width: 40%;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(40, 247, 68);
    
}
.content {
    padding: 5px;
    border: none;
    background-color: rgb(133, 240, 248);
    font-family: Helvetica;
    color: black;
    margin: 0px;
    height: 200px;
    overflow: auto;
}

/* Marco Receptivo Simple */
.row{
    width: 90%;
    
}

/* Solo dispositivos largos */
@media (min-width: 992px){
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/* Solo dispositivos medianos */
@media (min-width: 768px) and (max-width: 991px){
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Solo dispositivos pequeños */
@media (max-width: 767px){
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}